---
layout: page
title: 'Github Topic Mapping To API Evangelist Research'
---

<h1>Github Topic Mapping To API Evangelist Research</h1>
<p>I was playing around with the <a href="https://github.com/blog/2309-introducing-topics">new Github topics</a>, and found it to provide an interesting look at the API space, one that I'm hoping will continue to evolve.</p>
<p>I typed 'api-' into Github's topic tagging tool for my responsitory, and after I tagged each of my research areas with appropriate tags, I set out exploring these layers of Github by clicking on each tag. It is something that became quite a wormhole of API exploration.</p>
<p>I had to put down, as I could spend hours looking through the repositories, but I wanted to create a machine readable mapping to my existing API research areas, that I could use to regularly keep an eye on these slices of the Github pie.</p>

<!-- Definitions-->
<p><a href="http://definitions.apievangelist.com"><strong>Definitions</strong></a> - These are the topics I'm adding to my monitoring of the API space when it comes to API definitions. I thought it was interesting how folks are using Github to manage their API definitions.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'definitions' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>I like how OpenAPI is starting to branch out into separate areas, as well as how this area touches on almost all the other areas present here. I am going to work to keep shaping the tags present based upon the definitions, templates, and tooling I find on Github.</p>

<!-- Design -->
<p><a href="http://design.apievangelist.com"><strong>Design</strong></a> - There was only API design related item, but is something I expect to expand rapidly as I dive into this area further.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'design' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>I know of a number of projects that should be tagged and aded to the area of API design, as well as have a number of sub areas I'd like to included as relevant API design tags.</p>

<!-- Deployment -->
<p><a href="http://deployment.apievangelist.com"><strong>Deployment</strong></a> - Deployment was a little tougher to get a hande on. There are many different ways to deploy an API, but these are the ones I've identified so far.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'deployment' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>I know I will be adding some other areas to this area quickly. Tracking on other database, containerized, and serverless approaches to deployment.</p>

<!-- Management -->
<p><a href="http://management.apievangelist.com"><strong>Management</strong></a> - There were two topics that jumped out to me for inclusion in my API management research.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'management' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>As with all other areas I will be harrassing some of the common API management providers I know to tag their repositories appropriately, so that they show up in these searches.</p>

<!-- Documentation -->
<p><a href="http://documentation.apievangelist.com"><strong>Documentation</strong></a> - There are always a number of different perspectives on what consistutes API documentation, but these are a few of these I've found so far.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'documentation' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>I think that console overlaps with API clients, but it works here as well. I will work to find a way to separate out the documentation tools, fromt he documentation implementations.</p>

<!-- SDK -->
<p><a href="http://sdk.apievangelist.com"><strong>SDK</strong></a> - It is hard to identify what is an SDK. It is a sector of the space I've seen renewed innovation, as well as bending the definition of what is a development kit.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'sdk' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>I will be looking to identify language specific variations as part of this mapping to API SDKs available on Github, and discoverable through topics.</p>

<!-- Portal -->
<p><a href="http://portal.apievangelist.com"><strong>API Portal</strong></a> - It was good to see wicked.haufe.io as part of an API portal topic search. I know of a couple of other implementations that should be present, helping people see this growing area of API deployment and management.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'portal' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>This approach to providing Github driven API templates is the future of both the technical and business side of API operations. It is the seed for continous integration across all stops along the API lifecycle.</p>

<!-- Discovery -->
<p><a href="http://discovery.apievangelist.com"><strong>API Discovery</strong></a> - Currently it is just my research in the API discovery area, but it is where I'm putting this area my work down. I was going to add all my research areas, but I think that will make for a good story in the future.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'discovery' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 11px;" target="_blank">search via Github topics</a>)</li>
{% endif %}
{% endfor %}
</ul>
<p>API discovery is one of the areas I'm looking to stimulate with Github topics. I'm going to be publishing separate repositories for each of the aPIs I've profiled as part of my monitoring of the API space. We need more API providers to publish their API definitions to Github, as well as use it for every other stop along the API lifecycle.</p>
