---
layout: page
title: 'Github Topic Mappings'
---

<p>I was playing around with the <a href="https://github.com/blog/2309-introducing-topics">new Github topics</a>, and found it to provide an interesting look at the API space, one that I'm hoping will continue to evolve.</p>
<p>I typed 'api-' into Github's topic tagging tool for my responsitory, and after I tagged each of my research areas with appropriate tags, I set out exploring these layers of Github by clicking on each tag. It is something that became quite a wormhole of API exploration.</p>
<p>I had to put down, as I could spend hours looking through the repositories, but I wanted to create a machine readable mapping to my existing API research areas, that I could use to regularly keep an eye on these slices of the Github pie.</p>
<p><strong>Definitions</strong> - These are the topics I'm adding to my monitoring of the API space when it cmoes to API definitions.</p>
<ul>
{% for map in site.data.mapping %}
{% if map.research == 'definitions' %}
<li><strong>{{ map.topic }}</strong> (<a href="https://github.com/search?q=topic%3A{{ map.topic }}&type=Repositories" style="font-size: 10px;">see via Github topics</a>_</li>
{% endif %}
{% endfor %}
</ul>
